<div class="d-flex div-main justify-content-center align-items-center gap-5 min-vh-100">
  <div class="d-flex flex-column justify-content-center text-dark perfil-text">
    <h1><strong>Hola, Soy Bryan!</strong></h1>
    <h2>Soy Desarrollador Full Stack</h2>
    <p class="fs-5 mt-2">
      Soy un Desarrollador Web Full Stack con una sólida pasión por construir
      aplicaciones web modernas, eficientes y orientadas a la experiencia del
      usuario. Domino tanto el desarrollo del lado del cliente como del
      servidor, lo que me permite entregar soluciones completas que combinan
      interfaces atractivas con arquitecturas backend estables y escalables.
    </p>
    <div class="d-flex gap-3 mt-2">
      <a
        href="https://www.linkedin.com/in/bryan-perez-86a62630a"
        target="_blank"
        class="btn btn-outline-dark rounded-3"
      >
        <i class="bi bi-linkedin"></i> Linkedin
      </a>
      <a
        href="https://github.com/Syur01"
        target="_blank"
        class="btn btn-outline-dark rounded-3"
      >
        <i class="bi bi-github"></i> Github
      </a>
    </div>
  </div>

  <!-- Imagen después -->
  <div class="p-3 perfil-img">
    <img
      class="rounded-2 w-100"
      src="../../assets/img/imagen1.png"
      alt="Imagen de perfil"
    />
  </div>
</div>
